.content-relativeness {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #D6DBE0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}
