
.landing-page-wrapper {
    background-image: linear-gradient(to bottom left,#0d1b59,#74014e);
    border-left: 2px solid black;
    color: #EFEDEE;
    height: 100vh;
    left: 0;
    position: absolute;
    transition: 3s ease-in-out;
		width: 100vw;
		overflow: hidden;
}

.landingPageMoves {
    border-left: 2px solid #fd2d65;
    background-image: linear-gradient(to bottom left,#0d1b59,#74014e);
    color: #D6DBE0;
    height: 100vh;
    left: 80%;
    position: absolute;
    top: 0;
    width: 25%;
		transition: 3s ease-in-out;
		overflow: hidden;
    .sign {
        display: inline-block;
        left: -20%;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        width: 100%;
        transition: 3s ease;
    }
    .tabs-wrapper .lang {
        left: 150%;
        position: absolute;
        transition: 3s ease;
        width: 100%;
    }
    .social {
        position: absolute;
        right: -150%;
        transition: 3s ease;
    }
    .img-wrapper {
        left: 150%;
        right: -150%;
        transition: 3s ease-in-out;
		}
		.sizer-style-position {
			margin: 8%;
			border: 1px solid white;
			transition: 3s ease-in-out;
		}
}

.tabs-wrapper {
    height: 100vh;
    max-width: 970px;
    margin: 0 auto;
    position: relative;
    padding-top: 1rem;
    transition: 3s ease-in-out;
}

.sign {
    display: inline-block;
    position: absolute;
    left: 0;
		right: 0;
		width: 50%;
    padding: 1%;
    text-align: center;
    margin: 0 auto;
    transition: 3s ease-in-out;
}

.img-logo {
    width: 70%;
    transition: 3s ease;
}

.lang {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 1rem;
    transition: 3s ease;
    z-index: 1;
}

.flag {
    width: 50px;
    opacity: 0.5;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.social {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1rem;
    z-index: 1;
    text-align: right;
    transition: 3s ease;
}

.social-icon {
    font-size: 3em;
    text-decoration: none;
    width: 1em;
    cursor: pointer;
    color: #D6DBE0;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px transparent;
    text-align: center;
    transition: 1s ease-in-out;
    &:hover {
        color: #fd2d65;
        transition: 0.6s ease;
        box-shadow: 0px -1px 20px white;
        background-color: white;
        border-radius: 50%;
        transition: 1s ease-in-out;
    }
}

.img-wrapper::after {
	content: "";
	display: block;
	border: 2px solid red;
	border-radius: 50% 50%;
	position: absolute;
	top: 7%;
	left: 7%;
	width: 85%;
	height: 85%;
	transition: 1s ease;
	z-index: -1;
	opacity: 0;
}

.img-wrapper::before {
	content: "";
	display: block;
	border: 2px solid red;
	border-radius: 50% 50%;
	position: absolute;
	transition: 1s ease;
	top: 2%;
	left: 2%;
	width: 95%;
	height: 95%;
	z-index: -1;
	opacity: 0;
}

.img-wrapper {
	position: absolute;
	width: 400px;
	height: 400px;
	right: 0;
	left: 0;
	top: 30%;
	margin: 0 auto;
	transition: 4s ease-in-out;
	&:hover::after {
    top: -2%;
    left: -2%;
    width: 103%;
    height: 103%;
		z-index: 1;
		opacity: 1;
		transition: 1s ease;
	}
	&:hover::before{
		top: -5%;
		left: -5%;
		width: 110%;
		height: 110%;
		z-index: 1;
		opacity: 1;
		transition: 1s ease;
	}
	&:hover .say-hello-btn::before {
		content: "";
		height: 116%;
		position: absolute;
		top: -11%;
		left: 40.4%;
		width: 18%;
		border: 2px solid red;
		border-radius: 50% 50%;
		right: 0;
		z-index: 1;
		opacity: 1;
		transition: 1s ease;
	}
	&:hover .say-hello-btn::after {
		content: "";
    height: 140%;
    position: absolute;
    top: -23%;
    left: 38.6%;
    width: 22%;
    border: 2px solid red;
    border-radius: 50% 50%;
    right: 0;
    z-index: 1;
    opacity: 1;
    transition: 1s ease;
	}
}
.say-hello-btn::before {
	content: "";
	height: 43px;
	position: absolute;
	top: 10%;
	left: 44%;
	width: 43px;
	border: 2px solid red;
	border-radius: 50% 50%;
	right: 0;
	z-index: -1;
	opacity: 0;
	transition: 1s ease;
}

.say-hello-btn::after {
	content: "";
	height: 43px;
	position: absolute;
	top: 10%;
	left: 44%;
	width: 43px;
	border: 2px solid red;
	border-radius: 50% 50%;
	right: 0;
	z-index: -1;
	opacity: 0;
	transition: 1s ease;
}

.imgHello, .say-hello {
    cursor: pointer;
}

.imgHello{
	width: 400px;
	opacity: 1;
}

.say-hello-text {
    border: none;
    font-size: 1.2em;
    background-image: linear-gradient(to bottom left,#B10230,#fd2d65);
    color: white;
    display: inline-block;
		margin: 0;
    width: 80%;
    padding: 1%;
    text-align: center;
    transform: rotateZ(0deg);
    transition: 0.5s ease-in-out;
    letter-spacing: 0.5px;
}

.say-hello-text {
	display: none;
}

.say-hello-btn {
	color: white;
	border: none;
	height: 60px;
	width: 60px;
	border-radius: 50% 50%;
	background-image: linear-gradient(to bottom left,#B10230,#fd2d65);
}

.rotation-anim {
	position: absolute;
	top: 45%;
	width: 100%;
}

.btnAction-hidden {
	position: absolute;
	top: -10vh;
	left: -2px;
	font-size: 2em;
	cursor: pointer;
	border: 0;
	background-color: transparent;
	color: white;
	transition: 2s ease-in-out;
}

.btnAction-showing {
	position: absolute;
	top: 50vh;
	padding: 0;
	font-size: 2em;
	margin: 0;
	text-align: center;
	left: -2px;
	cursor: pointer;
	background-color: transparent;
	color: white;
	border: 0;
	padding: 4%;
	transition: 2s ease-in-out;
}
