@media screen and (max-width: 780px) {
	.content-relativeness-normal {
		font-size: 19px;
	}

	.content-relativeness-medium {
		font-size: 21px;
	}

	.content-relativeness-large {
		font-size: 22px;
	}

	.imgHello {
		width: 100%;
	}

	.img-wrapper {
		width: 70%;
		opacity: 1;
		height: auto;
	}

	.say-hello-text {
		display: none;
	}

	.sign {
		display: none;
	}

	.landingPageMoves {
		left: 90%;
	}

	.landingPageMoves .sign {
		display: none;
	}

	.landingPageMoves .img-wrapper {
		opacity: 0;
    transition: 4s;
	}

	.content-page-showing {
		width: 74vw;
		left: 15vw;
	}

	.content-page-hidden {
		width: 74vw;
		left: -100vw;
    transition: 3s ease-in-out;
	}

	.background-img-showing {
		width: 75%;
		left: 15%;
	}

	.tabs-info-wrapper-showing {
		width: 15%;
	}

	.tabs-list a {
		display: none;
	}

	.tab-items span {
		color: white;
    width: 50%;
    text-align: center;
    height: 50%;
    font-size: 2em;
    padding: 2%;
    margin: 0 auto;
    display: block;
	}

	.exp-content-size {
		border: 0;
    border-bottom: 1px solid #fd2d65;
    float: left;
    padding: 0% 4%;
		width: 95%;
	}

	.portfolio-wrappers {
		width: 65%;
	}

	.diploma-position {
		height: 200px;
	}

	.landingPageMoves .sizer-style-position {
		display: block;
	}

	.sizer-style-position {
		display: block;
	}

	.say-hello-btn::before {
    left: 42%;
	}

	.say-hello-btn::after {
    left: 42%;
	}

	.img-wrapper:hover .say-hello-btn::after {
    height: 135%;
    top: -22%;
    left: 34.4%;
    width: 30%;
    right: 0;
	}

	.img-wrapper:hover .say-hello-btn::before {
    height: 115%;
    top: -12%;
    left: 36.7%;
    width: 25%;
    right: 0;
	}
}
