
.tabs-info-wrapper-hidden {
    position: absolute;
    height: 100vh;
    left: -40%;
    width: 25%;
    background-image: linear-gradient(to bottom right,#0d1b59,#0075a0,#27c8d5);
    transition: 6s;
}

.tabs-info-wrapper-showing {
    height: 100vh;
    width: 20%;
    left: 0;
    position: absolute;
    margin: 0;
    border-right: 1px solid black;
    background-image: linear-gradient(to bottom right,#0d1b59,#0075a0,#27c8d5);
    transition: 4s;
}

.tabs-list {
    position: absolute;
    top: 28vh;
    right: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    color: #D6DBE0;
    transition: 0.6s ease-in-out;
}

.tabs-list li {
    margin: 2rem 0;
    padding: 5px;
    transition: 1.5s ease-in-out;
    &:hover {
        padding: 5px;
        background-color: #006593;
        transition: 0.5s ease-in-out;
    }
}

.tab-items a {
    text-decoration: none;
    color: #D6DBE0;
}

.btnAction {
    position: absolute;
    top: 50vh;
    height: 25px;
    right: 0vw;
    cursor: pointer;
    border: 0;
}
