
.tabs-wrapper-showing {
    height: 100vh;
    width: 20%;
    left: 0%;
    position: absolute;
    margin: 0;
    border-right: 1px solid black;
    background-image: linear-gradient(to bottom right,#0d1b59,#1C589F,#2a9aa3);
    transition: 3s;
}

.tabs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  list-style: none;
  transition: 0.8s ease;
  box-shadow: inset 0px 0px 20px black;
}

.tabs-list li {
    padding: 5%;
    transition: 1.5s ease-in-out;
    height: 10%;
    cursor: pointer;
    &:hover {
        background-color: #617680;
        transition: 0.5s ease-in-out;
    }
}

.tab-items a {
    padding: 7%;
    text-decoration: none;
    color: #D6DBE0;
}

.tab-items span {
	display: none;
}
